body{
  background: linear-gradient(#00a3ff 40%, #25d688);
  font-family: Comic Sans MS;
  font-size: 30px;
  color: white;
  height: 100%;
}

.border{
  border: 1px solid white;
}

.paddedImg{
  padding: 15px;
}

.custom-jumbo{
  background-color: transparent;
}

#playArea{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#guessesArea{
  display: flex;
  justify-content: space-around;
}
